<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">
                Listado de Empleados
            </span>
            <button class="btn btn-dark btn-lg float-right" routerLink="/create-empleado">Agregar</button>
            
            <h5 *ngIf="empleados.length == 0" style="margin-top: 30px;" >No hay datos para mostrar</h5>
            <div id="scroll_registros">
            <table *ngIf='empleados.length > 0' class="table table-dark mt-5"> 
              
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Documento</th>
                    <th>Salario</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Acciones</th>
                  </tr>
                </thead>             
                <tbody>
                  <tr *ngFor="let empleado of empleados">
                    <td>{{ empleado.nombre }}</td>
                    <td>{{ empleado.apellido }}</td>
                    <td>{{ empleado.documento }}</td>
                    <td>{{ empleado.salario | currency }}</td>
                    <td>{{ empleado.fecha }}</td>
                    <td>{{ empleado.hora }}</td>
                    <td>
                      <i class="fas fa-edit fa-lg text-info mr-3" [routerLink]="['/edit-empleado/', empleado.id]"></i>
                      <i (click)="eliminarEmpleado(empleado.id)" class="fas fa-trash-alt fa-lg text-danger"></i>
                    </td>
                  </tr>           
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>